<div class="form-signin w-100 m-auto mt-5">
    <form [formGroup]="form" (ngSubmit)="login()">
        <h1 class="h3 mb-3 fw-normal text-center">Iniciar Sesión</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="correo" formControlName="correo" name="correo" placeholder="name">
            <label for="floatingInput">Correo</label>
        </div>

        <!--Validación usuario-->
        @if (form.controls['correo'].invalid && (form.controls['correo'].dirty || form.controls['correo'].touched)) {
            @if(form.controls['correo'].errors?.['required']){
                <span class="text-danger">Campo requerido</span>
            }

            @if(form.controls['correo'].errors?.['maxLength']){
                <span class="text-danger">Excede el límite</span>
            }

            @if(form.controls['correo'].errors?.['email']){
                <span class="text-danger">Formato incorrecto</span>
            }
        }

        <div class="form-floating mt-2">
            <input type="password" class="form-control" id="pass" formControlName="pass" name="pass" placeholder="Password">
            <label for="pass">Contraseña</label>
        </div>

        <!--Validación contraseña-->
        @if (form.controls['pass'].invalid && (form.controls['pass'].dirty || form.controls['pass'].touched)) {
            @if(form.controls['pass'].errors?.['required']){
                <span class="text-danger">Campo requerido</span>
            }
        }

        <!--<a href="#" class="nav-link mt-2 text-primary" style="width: max-content;">¿Olvidó su contraseña?</a><br>-->
        <button class="w-100 btn btn-lg btn-primary mt-2" type="submit" [disabled]="form.invalid">Ingresar</button>
    </form>
</div><br><br>

